<ion-content class="light-meroon-background">
  <div class="py-4">
    <div class="container">
      <div class="row">
        <!-- Main Content -->
        <aside class="col col-xl-3 order-xl-1 col-lg-12 order-lg-1 col-12">
          <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
            <div class="py-4 px-3 border-bottom">
              <img [src]="user && user.image ? user.image : '/assets/img/user/default.jpeg'"
                class="img-fluid mt-2 rounded-circle" alt="Responsive image">
              <h5 class="font-weight-bold text-dark mb-1 mt-4">{{user?.name}}</h5>
              <p class="mb-0 text-muted">{{ user?.occupation }}</p>
            </div>
            <input type="text" readonly [(ngModel)]="link" (click)="copyToClipboard()">

            <div class="overflow-hidden border-top" *ngIf="visiter?.id !== user?.id">

              <a class="font-weight-bold p-3 d-block" href="javascript:void(0)" *ngIf="cStatus === 'c'"
                (click)="blAction('c')"> Connect </a>
              <a class="font-weight-bold p-3 d-block" href="javascript:void(0)" *ngIf="cStatus === 'r'"
                (click)="blAction('r')"> Requested </a>
              <a class="font-weight-bold p-3 d-block" href="javascript:void(0)" *ngIf="cStatus === 'd'"
                (click)="blAction('d')"> Remove </a>
            </div>
          </div>
          <app-skills-endorsements [skills]="skills"></app-skills-endorsements>

        </aside>
        <main class="col col-xl-9 order-xl-2 col-lg-12 order-lg-2 col-md-12 col-sm-12 col-12">
          <div class="box shadow-sm border rounded bg-white mb-3">
            <div class="box-title border-bottom p-3 box-titles-67894">
              <h6 class="m-0">About You</h6>
            </div>
            <div class="box-body p-3">
              <p>{{user?.description}}</p>
            </div>
          </div>
          <div class="border rounded bg-white mb-3">
            <div class="box-title border-bottom p-3 box-titles-67894">
              <h6 class="m-0">Basic Info</h6>
            </div>
            <form [formGroup]="MyGroup">
              <div class="box-body p-3">
                <div class="row">
                  <div class="col-sm-6 mb-2">
                    <div class="js-form-message">
                      <label id="nameLabel" class="form-label">
                        Name
                        <span class="text-danger">*</span>
                      </label>
                      <div class="form-group">
                        <input readonly="true" type="text" class="form-control" formControlName="name"
                          placeholder="Enter your name" aria-label="Enter your name" required=""
                          aria-describedby="nameLabel" data-msg="Please enter your name." data-error-class="u-has-error"
                          data-success-class="u-has-success">
                        <small class="form-text text-muted">Displayed on your public profile, notifications and other
                          places.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-2">
                    <div class="js-form-message">
                      <label id="usernameLabel" class="form-label">
                        Username
                        <span class="text-danger">*</span>
                      </label>
                      <div class="form-group">
                        <input readonly="true" type="text" class="form-control" formControlName="username"
                          placeholder="Enter your username" aria-label="Enter your username" required=""
                          aria-describedby="usernameLabel" data-msg="Please enter your username."
                          data-error-class="u-has-error" data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                </div>
                <label class="form-label">
                  Birth date
                  <span class="text-danger">*</span>
                </label>
                <div class="row">
                  <div class="col-md-6 mb-3 mb-sm-6">
                    <div class="js-form-message">
                      <div class="form-group">
                        <select readonly="true" class="form-control custom-select" required=""
                          data-msg="Please select month." formControlName="month" data-error-class="u-has-error"
                          data-success-class="u-has-success">
                          <option value="" disabled>Select month</option>
                          <option value="01">January</option>
                          <option value="02">February</option>
                          <option value="03">March</option>
                          <option value="04">April</option>
                          <option value="05">May</option>
                          <option value="06">June</option>
                          <option value="07">July</option>
                          <option value="08">August</option>
                          <option value="09">September</option>
                          <option value="10">October</option>
                          <option value="11">November</option>
                          <option value="12">December</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-2 mb-3 mb-sm-6">
                    <div class="js-form-message">
                      <div class="form-group">
                        <select readonly="true" class="form-control custom-select" required=""
                          data-msg="Please select date." formControlName="day" data-error-class="u-has-error"
                          data-success-class="u-has-success">
                          <option
                            *ngFor="let day of ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31']"
                            [value]="day">{{ day }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-2 mb-3 mb-sm-6">
                    <div class="js-form-message">
                      <div class="form-group">
                        <select readonly="true" class="form-control custom-select" required=""
                          data-msg="Please select year." formControlName="year" data-error-class="u-has-error"
                          data-success-class="u-has-success">
                          <option *ngFor="let year of getYears()" [value]="year">{{ year }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4 col-md-2 mb-2">
                    <div class="js-form-message">
                      <div class="form-group">
                        <select readonly="true" class="form-control custom-select" required=""
                          data-msg="Please select your gender." formControlName="gender" data-error-class="u-has-error"
                          data-success-class="u-has-success">
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="other">Other</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-2">
                    <div class="js-form-message">
                      <label id="emailLabel" class="form-label">
                        Email address
                        <span class="text-danger">*</span>
                      </label>
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter your email address"
                          formControlName="email" aria-label="Enter your email address" required=""
                          aria-describedby="emailLabel" data-msg="Please enter a valid email address."
                          data-error-class="u-has-error" data-success-class="u-has-success" readonly>
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-2">
                    <div class="js-form-message">
                      <label id="locationLabel" class="form-label">
                        Location
                        <span class="text-danger">*</span>
                      </label>
                      <div class="form-group">
                        <input readonly="true" type="text" class="form-control" formControlName="location"
                          placeholder="Enter your location" aria-label="Enter your location" required=""
                          aria-describedby="locationLabel" data-msg="Please enter your location."
                          data-error-class="u-has-error" data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6 mb-2">
                    <div class="js-form-message">
                      <label id="phoneLabel" class="form-label">
                        Phone
                        <span class="text-danger">*</span>
                      </label>
                      <div class="form-group">
                        <input readonly="true" type="tel" class="form-control" formControlName="phone"
                          placeholder="Enter your phone number" aria-label="Enter your phone number" required=""
                          aria-describedby="phoneLabel" data-msg="Please enter a valid phone number."
                          data-error-class="u-has-error" data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-2">
                    <div class="js-form-message">
                      <label id="phoneLabel" class="form-label">
                        occupation
                        <span class="text-danger">*</span>
                      </label>
                      <div class="form-group">
                        <input readonly="true" type="tel" class="form-control" formControlName="occupation"
                          placeholder="occupation" aria-label="Enter your phone number" required=""
                          aria-describedby="phoneLabel" data-msg="Please enter a valid phone number."
                          data-error-class="u-has-error" data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-2">
                    <div class="js-form-message">
                      <label id="phoneLabel" class="form-label">
                        University Batch
                        <span class="text-danger">*</span>
                      </label>
                      <div class="form-group">
                        <input readonly="true" type="tel" class="form-control" formControlName="batch"
                          placeholder="Enter your batch number" aria-label="Enter your batch number" required=""
                          aria-describedby="phoneLabel" data-msg="Please enter a valid batch number."
                          data-error-class="u-has-error" data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-2">
                    <div class="js-form-message">
                      <label id="phoneLabel" class="form-label">
                        Alum Registration
                        <span class="text-danger">*</span>
                      </label>
                      <div class="form-group">
                        <input readonly="true" type="tel" class="form-control" formControlName="alum_registration"
                          placeholder="alum_registration" aria-label="Enter your phone number" required=""
                          aria-describedby="phoneLabel" data-msg="Please enter a valid phone number."
                          data-error-class="u-has-error" data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-2">
                    <div class="js-form-message">
                      <label id="phoneLabel" class="form-label">
                        Preferred language
                        <span class="text-danger">*</span>
                      </label>
                      <div class="js-form-message">
                        <div class="form-group">
                          <select readonly="true" class="form-control custom-select" required=""
                            data-msg="Please select your gender." formControlName="preferred_language"
                            data-error-class="u-has-error" data-success-class="u-has-success">
                            <option value="male">English</option>
                            <option value="female">Urdu</option>
                            <option value="other">Punjabi</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-2">
                    <div class="js-form-message">
                      <label id="phoneLabel" class="form-label">
                        department
                        <span class="text-danger">*</span>
                      </label>
                      <div class="form-group">
                        <input readonly="true" type="tel" class="form-control" formControlName="department"
                          placeholder="Department" aria-label="Enter your phone number" required=""
                          aria-describedby="phoneLabel" data-msg="Please enter a valid phone number."
                          data-error-class="u-has-error" data-success-class="u-has-success">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>

        </main>
        <!-- <aside class="col col-xl-3 order-xl-3 col-lg-12 order-lg-3 col-12">
          <app-who-view-profile></app-who-view-profile>
        </aside> -->
      </div>
    </div>
  </div>
</ion-content>
