<div style="padding: 16px;">
  <div style="text-align: center; font-size: 24px;">Apply</div>
  <div class="row">
    <div class="col-sm-6 mb-2">
      <div class="js-form-message">
        <label id="nameLabel" class="form-label">
          Name
          <span class="text-danger">*</span>
        </label>
        <div class="form-group">
          <input type="text" [(ngModel)]="obj.name" class="form-control" placeholder="Enter your Institute Name" aria-label="Enter your name"
            required="" aria-describedby="nameLabel" data-msg="Please enter your name." data-error-class="u-has-error"
            data-success-class="u-has-success">
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
      <div class="js-form-message">
        <label id="usernameLabel" class="form-label">
          Phone number
          <span class="text-danger">*</span>
        </label>
        <div class="form-group">
          <input type="text" [(ngModel)]="obj.phone_number" class="form-control" placeholder="Degree" aria-label="Enter your username" required=""
            aria-describedby="usernameLabel" data-msg="Please enter your username." data-error-class="u-has-error"
            data-success-class="u-has-success">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mb-2">
      <div class="js-form-message">
        <label id="nameLabel" class="form-label">
          Upload your resume
          <span class="text-danger">*</span>
        </label>
        <div class="form-group">
          <input type="file" (change)="onFileSelected($event)" class="form-control" required="" aria-describedby="nameLabel">
        </div>
      </div>
    </div>
  </div>
  
  <div class="box-footer d-flex justify-content-end border-top p-3">
    <button class="btn btn-primary" (click)="applyToJob()">Apply</button>
  </div>
  
</div>