<div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
  <div class="py-4 px-3 border-bottom">
    <img [src]="user.image ? user.image : defaultImage" class="img-fluid mt-2 rounded-circle" alt="Responsive image"
      (click)="changeImage()">
    <h5 class="font-weight-bold text-dark mb-1 mt-4">{{ user?.name }}</h5>
    <div (click)="editDesignation = true">
      <p *ngIf="!editDesignation" class="mb-0 text-muted" style="cursor: pointer;">{{ editedDesignation }}</p>
      <input *ngIf="editDesignation" type="text" class="designation-inputs" [(ngModel)]="editedDesignation"
        (focusout)="saveDesignation()">
    </div>


  </div>
  <div class="d-flex">
    <div class="col-6 border-right p-3">
      <h6 class="font-weight-bold text-dark mb-1">{{ totalConnections }}</h6>
      <p class="mb-0 text-black-50 small">Connections</p>
    </div>
    <div class="col-6 p-3">
      <h6 class="font-weight-bold text-dark mb-1">{{ totalViews }}</h6>
      <p class="mb-0 text-black-50 small">Views</p>
    </div>
  </div>
  <div class="overflow-hidden border-top">
    <a class="font-weight-bold p-3 d-block" href="javascript:void(0)" (click)="logout()"> Log Out </a>
  </div>
</div>