<div class="box mb-3 shadow-sm border rounded bg-white list-sidebar">
  <div class="box-title p-3">
    <h6 class="m-0">Manage my network</h6>
  </div>
  <ul class="list-group list-group-flush">
    <a href="#">
      <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i
          class="feather-users mr-2 text-dark"></i> Connections <span
          class="ml-auto font-weight-bold">{{ obj.connection_count }}</span></li>
    </a>
    <a href="#">
      <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i
          class="feather-book mr-2 text-dark"></i> Invites <span class="ml-auto font-weight-bold">{{ obj.invitation_count }}</span>
      </li>
    </a>
    <a href="#">
      <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i
          class="feather-user-check mr-2 text-dark"></i> People in system <span
          class="ml-auto font-weight-bold"> {{ obj.user_count }} </span></li>
    </a>
    <a href="#">
      <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i
          class="feather-message-circle mr-2 text-dark"></i> Jobs <span
          class="ml-auto font-weight-bold">15</span></li>
    </a>
    <a href="#">
      <li class="list-group-item pl-3 pr-3 d-flex align-items-center text-dark"><i
          class="feather-clipboard mr-2 text-dark"></i> Events <span class="ml-auto font-weight-bold">3</span>
      </li>
    </a>
  </ul>
</div>
