<div class="box shadow-sm border rounded bg-white mb-3">
  <div class="box-title border-bottom p-3 box-titles-67894">
    <h6 class="m-0">People you might know</h6>
  </div>
  <div class="box-body p-3">
    <div class="d-flex align-items-center osahan-post-header mb-3 people-list" *ngFor="let item of list">

      <div class="dropdown-list-image mr-3">
        <img style="width: 50px; height: 50px;" class="rounded-circle"
          [src]="item.image ? item.image : '/assets/img/user/default.jpeg'" alt="" />
        <!-- <div class="status-indicator bg-success"></div> -->
      </div>

      <!-- <div class="dropdown-list-image mr-3">
        <img class="rounded-circle" src="assets/img/p8.png" alt="" />
        <div class="status-indicator bg-success"></div>
      </div> -->
      <a class="font-weight-bold mr-2 " [href]="'/pages/dl/view-profile/' + item.user_id">
        <div class="text-truncate" style="max-width: 115px;">{{ item.name }}</div>
        <div class="small text-gray-500">{{ item.occupation }}</div>
      </a>
      <span class="ml-auto"><button type="button" class="btn btn-light btn-sm" (click)="sendConnectionInvite(item)">
          <i class="feather-user-plus"></i>
        </button>
      </span>
    </div>
  </div>
</div>