<ion-content>
  <div style="background-color: #81181B;">
    <div class="container">
      <div class="row justify-content-center align-items-center d-flex vh-100">
        <div class="col-md-6 mx-auto">
          <img src="assets/img/alum-conn.png">
        </div>
        <div class="col-md-6 mx-auto">
          <ion-card class="ion-padding" color="primary" style="    box-shadow: 4px 6px 10px 0 white;">
            <div class="osahan-login p-4">
              <div class="text-center mb-4">
                <h5 class="font-weight-bold mt-3">Join Our Portal</h5>
                <p class="text-white">Make the most of your professional life</p>
              </div>
              <form [formGroup]="aForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label class="mb-1">User name</label>
                  <div
                    class="position-relative icon-form-control d-flex justify-content-start align-items-center gap-3 flex-row">
                    <input type="text" class="form-control" formControlName="username">
                  </div>
                  <div *ngIf="aForm.get('username').invalid && aForm.get('username').touched">
                    Username is required.
                  </div>
                </div>
                <div class="form-group">
                  <label class="mb-1">Email</label>
                  <div
                    class="position-relative icon-form-control d-flex justify-content-start align-items-center gap-3 flex-row">
                    <input type="email" class="form-control" formControlName="email">
                  </div>
                  <div *ngIf="aForm.get('email').invalid && aForm.get('email').touched">
                    Enter a valid email.
                  </div>
                </div>
                <div class="form-group">
                  <label class="mb-1">Password (6 or more characters)</label>
                  <div
                    class="position-relative icon-form-control d-flex justify-content-start align-items-center gap-3 flex-row">
                    <input type="password" class="form-control" formControlName="password">
                  </div>
                  <div *ngIf="aForm.get('password').invalid && aForm.get('password').touched">
                    Password must be at least 6 characters long.
                  </div>
                </div>
                <div class="form-group">
                  <label class="mb-1">You agree to the Alumini Connect <a class="white-links" href="javascript:void(0)"
                      (click)="nav.push('/pages/user-aggrement')">User Agreement</a> and <a class="white-links"
                      href="javascript:void(0)" (click)="nav.push('/pages/privacy-policy')">Privacy Policy</a>.</label>
                </div>
                <button class="btn btn-primary btn-primary-874 btn-block text-uppercase" type="submit"
                  [disabled]="aForm.invalid"> Agree & Join </button>
                <div class="py-3 d-flex align-item-center">
                  <span class="ml-auto"> Already on Alumini Connect? <a href="javascript:void(0)"
                      class="font-weight-bold white-links" (click)="nav.pop('/pages/login')">Sign in</a></span>
                </div>
              </form>
            </div>
          </ion-card>

        </div>
      </div>
    </div>
  </div>
</ion-content>