<div class="box shadow-sm border rounded bg-white mb-3">
  <div class="box-title border-bottom p-3">
    <h6 class="m-0">About You</h6>
  </div>
  <div class="box-body p-3">
    <p> {{ user?.description }}
    </p>
  </div>
</div>
<div class="box shadow-sm border rounded bg-white mb-3">
  <div class="box-title border-bottom p-3">
    <h6 class="m-0">Experience</h6>
  </div>
  <div class="box-body p-3 border-bottom" *ngFor="let item of experince">
    <div class="d-flex align-items-top job-item-header pb-2">
      <div class="mr-2">
        <h6 class="font-weight-bold text-dark mb-0">{{item.title}}</h6>
        <div class="text-truncate text-primary">{{item.company_name}}</div>
        <div class="small text-gray-500">{{start_date}} - {{ end_date}}</div>
      </div>
      <img class="img-fluid ml-auto mb-auto" src="img/l3.png" alt="">
    </div>
    <p class="mb-0">{{item.description}} </p>
  </div>
</div>
<div class="box shadow-sm border rounded bg-white mb-3">
  <div class="box-title border-bottom p-3">
    <h6 class="m-0">Education</h6>
  </div>
  <div class="box-body p-3 border-bottom" *ngFor="let item of education">
    <div class="d-flex align-items-top job-item-header pb-2">
      <div class="mr-2">
        <h6 class="font-weight-bold text-dark mb-0">{{item.institute_name}}</h6>
        <div class="text-truncate text-primary">{{item.degree}}</div>
        <div class="small text-gray-500">{{start_date}} - {{ end_date}}</div>
      </div>
      <img class="img-fluid ml-auto mb-auto" src="img/e1.png" alt="">
    </div>
    <p class="mb-0"> {{item.description}}</p>
  </div>
</div>