<div style="padding: 16px;">
  <div style="text-align: center; font-size: 24px;">Add Education</div>
  <div class="row">
    <div class="col-sm-6 mb-2">
      <div class="js-form-message">
        <label id="nameLabel" class="form-label">
          Institute Name
          <span class="text-danger">*</span>
        </label>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="obj.institute_name" placeholder="Enter your Institute Name" aria-label="Enter your name"
            required="" aria-describedby="nameLabel" data-msg="Please enter your name." data-error-class="u-has-error"
            data-success-class="u-has-success">
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
      <div class="js-form-message">
        <label id="usernameLabel" class="form-label">
          Degree
          <span class="text-danger">*</span>
        </label>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="obj.degree" placeholder="Degree" aria-label="Enter your username" required=""
            aria-describedby="usernameLabel" data-msg="Please enter your username." data-error-class="u-has-error"
            data-success-class="u-has-success">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mb-2">
      <div class="js-form-message">
        <label id="nameLabel" class="form-label">
          Field of study
          <span class="text-danger">*</span>
        </label>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="obj.field_of_study" placeholder="Field of study" aria-label="Enter your name"
            required="" aria-describedby="nameLabel" data-msg="Please enter your name." data-error-class="u-has-error"
            data-success-class="u-has-success">
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
      <div class="js-form-message">
        <label id="usernameLabel" class="form-label">
          Description
          <span class="text-danger">*</span>
        </label>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="obj.description" placeholder="Degree" aria-label="Enter Description" required=""
            aria-describedby="usernameLabel" data-msg="Please enter your username." data-error-class="u-has-error"
            data-success-class="u-has-success">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mb-2">
      <div class="js-form-message">
        <label id="nameLabel" class="form-label">
          Grade
          <span class="text-danger">*</span>
        </label>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="obj.grade" placeholder="Enter your Grade" aria-label="Enter your name"
            required="" aria-describedby="nameLabel" data-msg="Please enter your name." data-error-class="u-has-error"
            data-success-class="u-has-success">
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-2">
      <div class="js-form-message">
        <label id="usernameLabel" class="form-label">
          Start Date
          <span class="text-danger">*</span>
        </label>
        <div class="form-group">
          <input type="date" class="form-control" [(ngModel)]="obj.start_date" placeholder="Enter Start Date" aria-label="" required=""
            aria-describedby="usernameLabel" data-msg="Please enter your username." data-error-class="u-has-error"
            data-success-class="u-has-success">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mb-2">
      <div class="js-form-message">
        <label id="usernameLabel" class="form-label">
          End Date
          <span class="text-danger">*</span>
        </label>
        <div class="form-group">
          <input type="date" class="form-control" [(ngModel)]="obj.end_date" placeholder="Enter end Date" aria-label="e" required=""
            aria-describedby="usernameLabel" data-msg="Please enter your username." data-error-class="u-has-error"
            data-success-class="u-has-success">
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer d-flex justify-content-end border-top p-3">
    <button (click)="saveMyEducation()" class="btn btn-primary">Add</button>
  </div>
</div>