.image-box-78559 {
  height: 60px;
  width: 60px;
  padding: 15px;
  border: 1px solid rgba(69, 69, 69, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
  background: rgb(255, 255, 255);
  background-repeat: repeat;
  position: relative;
  background-size: cover;
  background-position: center center;
}

