<div class="border rounded bg-white mb-3">
  <div class="box-title border-bottom p-3">
    <h6 class="m-0">Social profiles</h6>
    <p class="mb-0 mt-0 small">Add elsewhere links to your profile.
    </p>
  </div>
  <div class="box-body">
    <div class="p-3 border-bottom">
      <div class="position-relative icon-form-control mb-2">
        <i class="feather-instagram position-absolute text-warning"></i>
        <input placeholder="Add Instagram link" type="text" class="form-control">
      </div>
      <div class="position-relative icon-form-control mb-2">
        <i class="feather-facebook position-absolute text-primary"></i>
        <input placeholder="Add Facebook link" type="text" class="form-control">
      </div>
      <div class="position-relative icon-form-control mb-2">
        <i class="feather-twitter position-absolute text-info"></i>
        <input placeholder="Add Twitter link" type="text" class="form-control">
      </div>
      <div class="position-relative icon-form-control mb-2">
        <i class="feather-youtube position-absolute text-danger"></i>
        <input placeholder="Add Youtube link" type="text" class="form-control">
      </div>
      <div class="position-relative icon-form-control mb-0">
        <i class="feather-github position-absolute text-dark"></i>
        <input placeholder="Add Github link" type="text" class="form-control">
      </div>
    </div>
    <div class="overflow-hidden text-center p-3">
      <a class="font-weight-bold btn btn-light rounded p-3 d-block" href="#"> Update Social Profiles </a>
    </div>
  </div>
</div>