<div class="mb-3 border rounded bg-white profile-box text-center w-10">
  <div class="p-4 d-flex flex-column align-items-center">
     <img [src]="designatedImage" class="img-fluid rounded-circle" alt="Responsive image">
     <div class="p-4">
        <label data-toggle="tooltip" data-placement="top" data-original-title="Upload New Picture" class="btn btn-info m-0" for="fileAttachmentBtn">
        <i class="feather-image"></i>
        <input id="fileAttachmentBtn" name="file-attachment" type="file" class="d-none">
        </label>
        <button data-toggle="tooltip" data-placement="top" data-original-title="Delete" type="submit" class="btn btn-danger"><i class="feather-trash-2"></i></button>
     </div>
  </div>
</div>
