.sidebar-chat-list{
  height: calc(100vh - 100px);
  overflow-y: scroll;
  // display: flex;
  // flex-direction: column;
  // height: calc(100vh - 100px);
  // overflow-y: scroll;
}

.sidebar-chat-item {
  cursor: pointer;
}

.osahan-chat-box {
  height: calc(100vh - 200px);
  overflow-y: scroll;
}

.chat-box-large-789565{
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  overflow-y: hidden;
}
