<ion-content class="light-meroon-background">
  <div class="container chrt-7896756">
    <ion-split-pane when="(min-width: 500px)" contentId="main">
      <ion-menu contentId="main">
        <ion-content>
          <ion-list>
            <ion-item *ngFor="let item of list" [color]="item?.id === selectedItem?.id ? 'primary' : '' " [class.active]="item?.id === selectedItem?.id" (click)="selectUserToChat(item)">
              <ion-label>
                <h2>{{item.name}}</h2>
                <p>{{item.last_message}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
    <!-- <ion-menu-button></ion-menu-button> -->
      <div class="ion-page" id="main">
        <ion-content>
          <div class="chat-box-large-789565 " *ngIf="!selectedItem">
            <div class="small text-truncate overflow-hidden text-black-50 m-2">

              <ion-item>
                <ion-menu-button slot="start"></ion-menu-button>
                <ion-label>Select your contact to start chat</ion-label>
              </ion-item>
            </div>
          </div>
          <div  class="chat-box-large-789565" *ngIf="selectedItem">
            <ion-list lines="none">
              <ion-item>
                <ion-menu-button slot="start"></ion-menu-button>
                <ion-label>
                  <h2 class="font-weight-bold">{{ selectedItem.name }}</h2>
                  <p>{{selectedItem.occupation}}</p>
                </ion-label>
              </ion-item>
            </ion-list>

            <div class="osahan-chat-box p-3 border-top border-bottom bg-light" #scroll>
              <ion-list class="ion-no-padding" lines="none">
                <ion-item *ngFor="let item of messages" [color]="item.user_id == user.id ? 'primary' : ''">
                  <ion-label>
                    <h2 class="font-weight-bold">{{item.message}}</h2>
                    <small>{{ getRsTime(item.created_at)}}</small>
                  </ion-label>
                </ion-item>
              </ion-list>
            </div>
            <div class="message-text-box-outer-678956">
                <textarea [(ngModel)]="message" placeholder="Write a message…"
                class="form-control border-0 p-1 shadow-none" (keyup)="onKeyUp($event)" (keyup.enter)="sendMessage()" rows="1"></textarea>
                <button style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;"
                  type="button" class="btn btn-primary btn-sm rounded" (click)="sendMessage()">
                  <i class="feather-send"></i> Send
                </button>
            </div>
          </div>
        </ion-content>
      </div>
    </ion-split-pane>

  </div>

</ion-content>
