
.global-nav-top{

  .global-nav-logo-785464{
    width: 220px;
  }
  // background: #81181b;

  .global-nav-top-search{
    background: transparent;
    // color: #fff;
  }
}
.nav-item{
  i{
    color:#81181B
  }
   span{
    color: #81181B;
   }

}

.option-dropdown-543254325 {
  max-height: 200px;
  height: auto;
  width: 248px;
  background: #ffffff;
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 50;
  border: 0.5px solid lightgray;
  overflow-y: scroll;
}

.people-list {
  cursor: pointer;
}

.backgroundnav-89523 {
  background: linear-gradient(to right, #81181B 50%, white 50%);
}

.input-color::placeholder {
  color: #ffffff; /* Replace with your desired color */
}

.input-color {
  color: #ffffff; /* Replace with your desired color */
}

#side-box-outer-6789564{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.side-box-header-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 1200px) {

  .backgroundnav-89523 {
    background: linear-gradient(to bottom, #81181B 60%, white 40%);
  }

  #side-box-outer-6789564 {
    display: flex;
    flex-direction: column;

  }
  .side-box-header-left {
    width: 100%;
  }

}

@media (max-width: 500px) {

  #search-box-header-67895675 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .side-box-header-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .backgroundnav-89523 {
    background: linear-gradient(to bottom, #81181B 80%, white 20%);
  }
}

