
.global-nav-top{

  .global-nav-logo-785464{
    width: 220px;
  }
  // background: #81181b;

  .global-nav-top-search{
    background: transparent;
    // color: #fff;
  }
}
.nav-item{
  i{
    color:#81181B
  }
   span{
    color: #81181B;
   }

}

.option-dropdown-543254325 {
  max-height: 200px;
  height: auto;
  width: 248px;
  background: #ffffff;
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 50;
  border: 0.5px solid lightgray;
  overflow-y: scroll;
}

.people-list {
  cursor: pointer;
}

.backgroundnav-89523 {
  background: linear-gradient(to right, #81181B 50%, white 50%);
}

.input-color::placeholder {
  color: #ffffff; /* Replace with your desired color */
}

.input-color {
  color: #ffffff; /* Replace with your desired color */
}

