
.global-nav-top{

  .global-nav-logo-785464{
    width: 220px;
  }
  // background: #81181b;

  .global-nav-top-search{
    background: transparent;
    color: #fff;
  }
}
.nav-item{
  i{
    color:#81181B
  }
   span{
    color: #81181B;
   }

}
