<div class="box shadow-sm border rounded bg-white mb-3">
  <div class="box-title border-bottom p-3 box-titles-67894">
    <h6 class="m-0">Similar Jobs</h6>
  </div>
  <div class="box-body p-3">
    <div class="" *ngFor="let item of list">
      <div class="job-item mb-3 job-item-bg-set-2532 bg-white" (click)="openJobDetails(item)">
        <img class="job-image-class-5643264 mb-2" [src]="item.job_image" alt="">
        <h6 class="font-weight-bold text-dark mb-0 text-truncate">{{item.title}}</h6>
        <small class="text-gray-500"><i class="feather-clock"></i> {{ getNowDate(item.created_at) }}</small>
      </div>
</div>
  </div>
</div>
