<div class="col-md-12">
  <div class="border job-item mb-3">
    <img class="img-fluid" style="width: 100%;" [src]="item.event_image" alt="" />
    <div class="d-flex align-items-center p-3 job-item-header">
      <div class="overflow-hidden mr-2">
        <h6 class="font-weight-bold text-dark mb-0 text-truncate">
          {{item.title}}
        </h6>
        <div class="text-muted">
          {{item.description}}
        </div>
      </div>

    </div>
    <div class="p-3 job-item-footer" style="display: flex; align-items: center; justify-content: space-between;">
      <small class="text-gray-500"><i class="feather-clock"></i> {{ getNowDate(item.created_at)
        }}</small>
      <a href="javascript:void(0)" class="mr-3 text-secondary">{{count}}</a>
      <button (click)="getInterst(item.id)"
        style="background-color: #81181B; color: white; padding: 8px;border-radius: 8px; font-size: 12px;">Interested!</button>
    </div>
  </div>
</div>