.profile-cl-76895 {
  width: 55px;
  height: 55px;
}

.delete-btn-7867 {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: red;
  cursor: pointer;
}
