<div class="p-3">
  <div class="p-3 w-100" *ngIf="list.length == 0">
    <h6>No people found yet</h6>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let item of list">
      <div class="border network-item rounded mb-3">
        <a class="p-3 d-flex align-items-center network-item-header" [href]="'/pages/dl/view-profile/' + item.user_id">
          <div class="dropdown-list-image mr-3">
            <img style="width: 45px; height: 45px" class="rounded-circle"
              [src]="item.image ? item.image : '/assets/img/user/default.jpeg'" alt="">
          </div>
          <div class="font-weight-bold">
            <h6 class="font-weight-bold text-dark mb-0">{{ item.name }}</h6>
            <div class="small text-black-50">{{ item.occupation }}</div>
          </div>
        </a>
        <div class="network-item-footer py-3 d-flex text-center">
          <div class="col-6 pl-3 pr-1">
            <button class="btn btn-primary btn-sm btn-block" (click)="removeConnection(item)"> Remove </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>