<ion-content class="light-meroon-background">
  <div class="py-4">
    <div class="container">
      <div class="row">
        <!-- Main Content -->
        <aside class="col col-xl-3 order-xl-1 col-lg-12 order-lg-1 col-12">
          <app-profile-with-image-box></app-profile-with-image-box>
          <app-profile-skills></app-profile-skills>
        </aside>
        <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-2 col-md-12 col-sm-12 col-12">
          <app-profile-about></app-profile-about>
        </main>
        <aside class="col col-xl-3 order-xl-3 col-lg-12 order-lg-3 col-12">
          <app-profile-viewed></app-profile-viewed>
        </aside>
      </div>
    </div>
  </div>
</ion-content>